/*
El color del logo es #F9E041
*/

@font-face {
    font-family: koara-font;
    src: url(../fuentes/Rosario\ Nocera\ -\ Koara\ free\ Bold.otf);
}



body{
    font-family: koara-font;
}




header.cabecera{
    background-color: rgb(19, 19, 19);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}

#columna-imagen-elementos{
    margin: .3%;
    padding: .3%;
    
    display: flex;
    
}

#header-imagen{
    display: grid;
    width: 20%;
    place-items: center;
    
    img{
        display: block;
        width: 7em;
        
    }    
}

#header-elementos{
    display: grid;
    width: 80%;
    align-items: center;

    nav{
        margin-left: 35%;

        #header-lista-elementos{
            list-style-type: none;
            text-decoration: none;
            display: grid;
            grid-template-columns: repeat(5,1fr);
            text-align: center;
            margin:0;
        
            li{
                padding: 1em 2em 1em 1em;

                a{
                    color: black;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 25px;
                    background-color: #F9E041;
                    padding: 1em;
                    border-radius: 10px;
                    
                }
            }
        }  
    }
}






