:root {
    --color-logo: #F9E041;
}

/* Fuentes personalizadas */
@font-face {
    font-family: koara-font;
    src: url(../fuentes/Rosario\ Nocera\ -\ Koara\ free\ Bold.otf);
}

/* Estilo base para el body */
body {
    font-family: koara-font;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
}

/* Cabecera */
header {
    background-color: rgb(25, 25, 25);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Esto permite que los elementos se ajusten en pantallas pequeñas */
    height: auto;
}

/* Estilo de la imagen */
#logo-link {
    display: flex;
    justify-content: flex-start; /* Logo alineado a la izquierda */
    margin-right: 20px;
}

header img {
    margin-left: 10em; /* Ajuste para pantallas grandes */
}

/* Estilo de los enlaces en el menú (botones) */
header nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    background-color: var(--color-logo);
    padding: 0.9em 2em; /* Ajuste del padding para que se vea como un botón */
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block; /* Asegura que se comporten como botones */
    margin-right: 1em;
}

header nav a:hover {
    background-color: black;
    color: #F9E041;
}

/* Menú: en pantallas grandes a la derecha */
header nav {
    margin-right: 2em; /* Ajuste para el espaciado en pantallas grandes */
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    
    #header {
        flex-direction: column;
        justify-content: center;
        height: auto;
        align-items: center; /* Centra todo el contenido en pantallas pequeñas */
    }

    /* Centrar el logo en pantallas pequeñas */
    #logo-link {
        margin-right: 8.3em;
        justify-content: center; /* Centrado del logo */
        margin-bottom: 20px; /* Espaciado hacia abajo */
    }

    /* Menú apilado debajo del logo en pantallas pequeñas */
    #navbar {
        margin-left: 3.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    /* Ajuste de los enlaces en pantallas pequeñas */
    .nav-link {
        margin: 10px 0;
        padding: 0.9em 2em;
        font-size: 18px; /* Ajuste de tamaño para pantallas pequeñas */
        text-align: center;
        background-color: var(--color-logo); /* Mantiene el color de fondo */
        color: black;
        border-radius: 10px;
        display: inline-block;
    }
    .nav-link:hover {
        background-color: black;
        color: #F9E041;
    }
 
}
