:root {
    --color-logo: #F9E041;
}

/* Fuentes personalizadas */
@font-face {
    font-family: koara-font;
    src: url(../../fuentes/Rosario\ Nocera\ -\ Koara\ free\ Bold.otf);
}

/* Estilo base para el body */
body {
    font-family: koara-font;
    margin: 0;
    padding: 0;
}

/* Cabecera */
header {
    background-color: rgb(19, 19, 19);
    padding: 20px;
    display: flex;
    flex-direction: column; /* En pantallas grandes, los elementos se apilan verticalmente */
    justify-content: center;
    align-items: center;
    height: auto;
}

/* Estilo de la imagen */
#logo-link {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Separación entre logo y menú */
}

header img {
    max-width: 100%;
    height: auto;
}

/* Menú */
#navbar {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap; /* Esto permitirá que los elementos se muevan a la siguiente línea si no hay suficiente espacio */
}

.nav-item {
    padding: 0.5em;
}

.nav-link {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px; /* Tamaño fijo de la fuente */
    background-color: var(--color-logo);
    padding-bottom: .1em; /* Tamaño de padding ajustado para mayor tamaño de los botones */
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
    width: 150px; /* Ancho fijo para los botones */
    height: 60px; /* Altura fija para los botones */
    line-height: 40px; /* Centra el texto verticalmente */
    text-align: center; /* Centra el texto horizontalmente */
}

/* Efecto hover */
.nav-link:hover {
    background-color: black;
    color: #F9E041; /* El color cambia a amarillo en el hover */
}

footer{
    background-color: rgb(19, 19, 19);
    margin-top: 6em;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    /* Menú debajo del logo en pantallas pequeñas */
    header {
        flex-direction: column; /* Aseguramos que la cabecera se disponga en columna */
        align-items: center; /* Centrado del logo y menú */
    }

    /* Menú en columna debajo del logo */
    .nav-link{
        display: flex;
        flex-direction: column; /* Los elementos se apilan uno debajo de otro */
        gap: 15px; /* Espaciado entre los elementos */
        align-items: center; /* Centra los elementos */
        margin-top: 20px; /* Separación adicional entre logo y menú */
    }

    /* Ajuste de los enlaces */
    .nav-link {
        font-size: 20px; /* Mantiene el tamaño de la fuente fijo */
        padding: .4em; /* Botones más grandes para mejorar la usabilidad */
        width: 150px; /* Ancho fijo para los botones */
        height: 60px; /* Altura fija para los botones */
        line-height: 40px; /* Centra el texto verticalmente */
        text-align: center; /* Centra el texto */
    }

    /* Efecto hover en pantallas pequeñas */
    .nav-link:hover {
        background-color: black;
        color: #F9E041; /* El color cambia a amarillo en el hover */
    }

    footer span{
        padding-right: 2em;        
    }
}

